
  body {
    font-family: monospace, arial, sans-serif;  
    background-color: rgb(223, 228, 184);      
   }
   h1{
    color: #28dd10;
    text-align: center;
    
    }
   
    #contenedor-izquierdo {
        background-color: rgb(95, 88, 88);
        width: 15%;
        height: 100%;
        left: 0px;
        top: 0px;
        position: absolute;
        padding: 10px;
    }
    
    #contenedor-derecho {
        background-color:rgb(95, 88, 88);
        width: 15%;
        height: 100%;
        right: 0px;
        top: 0px;
        position: absolute;
        padding: 10px;
    }
.contenedor-componente {
    position: relative;
    height: 10.5%;
    left: 20%;
}

.componente {
    position: absolute;
    max-width: 100%;
    max-height: 80%;
    z-index: 2;
}
.cielo {
    display: grid;
	height: 50%;
	width: 60%;
	background: #2291af;	
	position: absolute;
	left: 20%;
	opacity: 1;
	grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 500px;
}

.suelo {
	width: 60%;
	height: 45%;
	background:chartreuse;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 1;
	z-index: -1;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 500px;
}
